* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

.navbar-brand span {
  color: red;
}

.container-fluid :hover {
  color: red;
  border-bottom: 2x solid;
}

.main {
  max-width: 1300px;
  margin: auto;
  width: 100%;
  min-height: 599px;
  display: flex;
  align-items: center;
  background: url('https://stackblitz.com/files/web-platform-cxaowt/github/huzaifa454/developer-project-/main/Background-home.png');
  background-repeat: no-repeat;
  background-position: center left;
  background-size: cover;
}

.home-text h1 {
  font-size: 2.4rem;
}

.home-text span {
  color: red;
}

.bx {
  color: white;
}

.btn {
  color: white;
  font-weight: 400;
}

.mx-2 {
  color: white;
}

form {
  padding: 10px;
}

.contactus {
  text-align: center;
  background-color: black;
  color: white;
}

.mb-3 {
  width: 50%;
  padding: 10px;
  margin: 20px 0;
  display: inline-block;
}
.heading {
  text-align: center;
  padding-top: 30px;
}
.heading span {
  color: red;
}
.cars-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  margin-top: 2rem;
  margin-bottom: 20px;
}
.cars-container .box {
  flex: 1 1 17rem;
  position: relative;
  height: 200px;
  overflow: hidden;
}
.cars-container .box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
}
.cars-container .box img:hover {
  transform: scale(1.1);
  transition: 0.5s;
}
.footer {
  background-color: black;
  color: white;
  border-top: 20px solid white;
}
.footer-container {
  margin-top: 10px;
  padding: 30px;
  justify-content: space-between;
  display: flex;
  gap: 1rem;
}
.footer-container .footer-Box {
  display: flex;
  flex-direction: column;
}
.social {
  align-items: center;
  display: flex;
}
.social p {
  font-size: 24px;
  margin-right: 1rem;
}
.social :hover {
  color: red;
}
.copyright {
  padding: 20px;
  text-align: center;
}
.footer h1 {
  text-align: center;
}
